<div class="text-center">
  <h1 class="maintext">X-CREW</h1>
  <p class="slogan">Sell & Buy your next X-FIT Equipment & Apparel</p>
</div>

<div class="container carousel">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://img4.goodfon.com/wallpaper/nbig/c/9b/female-fitness-rope-workout.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="https://selections.rockefeller.edu/wp-content/uploads/2016/07/Crossfit.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.proclub.com/src/assets/images/FitnessPage/subservices/faq/FITNESSANDSPORTS_H_CROSSFIT_FAQ_4K_01092019.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
